# ==============================================================
# SICAI Platform - Variáveis de Ambiente dos Containers
# ==============================================================

# Object Storage (Garage S3)
S3_ENDPOINT_URL=http://garage:3900
S3_REGION=garage
S3_ACCESS_KEY=sicai_admin
S3_SECRET_KEY=sicai_secret_key

# Metadados e Catálogo Relacional (PostgreSQL 16)
POSTGRES_DB=sicai
POSTGRES_USER=sicai_admin
POSTGRES_PASSWORD=sicai_password
DATABASE_URL=postgresql://sicai_admin:sicai_password@postgres:5432/sicai

# Event Streaming (Kafka / Redpanda)
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# Motor de Busca Forense (OpenSearch)
OPENSEARCH_URL=http://opensearch:9200

# IA & LLM Forense (Ollama)
OLLAMA_HOST=http://ollama:11434
LLM_MODEL_NAME=qwen2.5:7b-instruct
